.landing_page {
    background-color: #001220;
    height: 950px;
    margin-top: -62px;
    color: #ffffff;
    background-image: url('../../assets/images/stars.png');
}
.content {
    margin: 0 auto;
    height: 800px;
    padding-top: 62px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.pic {
 

    padding: 10px;
    max-height: 522px;
    max-width: 522px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );
}
.text_area {

    margin-top: 30px;
    height: 294px;
    width: 477px;
    /* background-color: red; */

}
.img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 100%;
}
.mountain_wave {
    /* width: 100%; */
    height: 347.96px;
    background-image: url('../../assets/images/mountain.svg');
    background-position:bottom;
    background-repeat: space;
    /* background-size: cover; */

    margin-top: -90px;

    z-index: 0;
}
.mountain {
    height: 700px;
    /* width: 500px; */
    background-image: url('../../assets/images/mountains_behind.png');

    margin-top: -550px;
    z-index: -1;
}