.landing_page {
    background: rgb(9,85,97);
    background: linear-gradient(180deg, rgba(9,85,97,1) 0%, rgba(0,48,85,1) 4%, rgba(0,18,32,1) 100%);
    min-height: 950px;
    color: #ffffff;
}
.content {
    margin: 0 auto;
    /* margin-top: -62px; */
    min-height: 800px;
    /* padding-top: 62px; */
    padding: 150px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}
.container {
    position: relative;
    z-index: 10;
}
.pic {
    padding: 10px;
    max-height: 520px;
    max-width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );
}
.text_area {

    margin-top: 30px;
    width: 477px;

}
.img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 100%;
}
.mountain_wave {
    width: 100%;
    height: 347.96px;
    height: 450px;
    background-image: url('../../assets/images/mountain.svg');
    background-size:auto;
    background-position:bottom;
    /* background-repeat: space; */
    /* background-size: cover; */

    margin-top: -200px;
    position: relative;
    z-index: 1;
}
.mountain {
    height: 700px;
    /* width: 500px; */
    background-image: url('../../assets/images/mountains_behind.png');

    margin-top: -550px;
    position: relative;

    z-index: 1;
}
.star_bg {
    background-image: url('../../assets/images/stars.png');
}
.moon {
    mix-blend-mode:screen;
    position:absolute;
    z-index: 0;
    right: -100px;
}
.line_group {
    margin: 30px 0;
}
@media screen and (max-width: 1200px) {

    .content {
        justify-content: center;
    }

}